*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRm2h7tHE1iZGRinrLlgYjDlSOSOBRKz-9S9g&usqp=CAU");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.weather{
    /* background-color: #fff; */
    color: #fff;
    font-weight: 600;
    padding: 3rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    
}
.weather1{
    font-size: 50px;

}
.weather p{
    font-size: 16px;
}
.weather >div{
    margin: 0.625rem;
}
.weather span{
    font-size: 18px;
}

.weather3 span{
    margin: 13px;
}
.weather3 img{
    width: 280px;
}
nav{
    height: 100px;
    box-shadow: 0 0 25px regb(0,0,0,0.18);
    bottom: 0%;
    width: 100%;
    background-color: lawngreen;
    display: flex;
    justify-content: center;
    align-items: center;border-radius: 100px 100px ;


}

nav form{
    width: 75%;
    grid-template-columns: 5fr 1fr;
    display: grid;
}

.searchfield{
    outline: none;
    border: none;
    font-size: 25px;
    background-color: transparent;
    padding: 15px 0;
    border-bottom:  2px solid white;
    color:white;
    width: 93%;

}

nav form button{
    background: orange;
    border-radius: 0 25px 25px 0;
    font-size: 20px;
    color: #fff;
border: none;
outline: none;
cursor: pointer;
}